
#Dependency directory - backend
node_modules/*

#Dependency directory - frontend
bower_components/*
public/vendor/**/*

#Ignore minified files
public/css/*.min.css
public/js/*.min.js

#Ignore sass cache
.sass-cache/*

#Ignore coverage report
coverage/**/*

#Ignore coverage config file
.coveralls.yml

#TEMPORARY
test/protractor/**/*