
#Dependency directory - backend
node_modules/*

#Dependency directory - frontend
bower_components/*
public/vendor/**/*

#Ignore minified files
public/css/*.css.map
public/css/*.min.css
public/js/*.min.js

#Ignore sass cache & export
.sass-cache/*
public/css/*.css

#Ignore coverage report
coverage/**/*

#Ignore coverage config file
.coveralls.yml

#TEMPORARY
test/protractor/**/*