body{
	padding:0px;
	/*font:14px "Lucida Grande",Helvetica,Arial,sans-serif;*/
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	overflow-x: hidden;
}

a{
	color:#00B7FF;
}

/*********Dashboard styles****
*****************************/

.spinner {
	margin: 5rem auto;
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.panel-nested {
	width: 98%;
	margin: 0 auto;
}
.fixed-alert{
	position: fixed;
	z-index: 2;
	width: 20%;
}

/*********Team widget*****
*****************************/
.row-users{
	padding: 1rem;
	overflow-x: auto;
	white-space: nowrap;
	margin-bottom: -15px;
}

.card-user{
	height: 100%;
	max-height: 20rem;
	width: 100%;
	max-width: 20rem;
	margin-left: 10px;
}

.card-user:last-child{
	margin-right: 20px;
}

/*********Message widget*****
*****************************/

.message-widget{
	min-height: 50rem;
	max-height: 50rem;
}

.message-container{
	padding: 3rem;
	min-height: 30rem;
	max-height: 30rem;
	overflow-y: auto;
}

.title span{
	text-decoration: none;
}

.message-bubble{
	padding: 3px;
	border: 1px solid #e0e0e0;
	background-color: #f3f3f3;
	border-radius: 10px;
	margin-bottom: 1rem;
}


