
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include templates/styletemplate.ejs %>

    <style>
		.spinner {
			margin: 5rem auto;
			border: 8px solid #f3f3f3; /* Light grey */
			border-top: 8px solid #3498db; /* Blue */
			border-radius: 50%;
			width: 5rem;
			height: 5rem;
			animation: spin 2s linear infinite;
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

		.panel-nested {
			width: 98%;
			margin: 0 auto;
		}
		.fixed-alert{
			position: fixed;
			z-index: 2;
			width: 20%;
		}
    </style>
 
<body ng-app="clusterGarage" ng-controller="dashCtrl">

	<div class="alert alert-info fixed-alert ng-hide" role="alert" ng-show="isAFK">It appears you are idle.</div>

	<div class="row">
		<div class="col-md-1 col-md-offset-11">
			<a href="logout" class="btn btn-default">Logout</a>
		</div>
	</div>


	 <!-- href="#home" -->
	<!-- <div class="container">
	  <h2>Dynamic Pills</h2>
	  <ul class="nav nav-pills">
	    <li class="active"><a data-toggle="pill" ui-sref="message">Messages</a></li>
	    <li><a data-toggle="pill" ui-sref="other">Stuff</a></li>
	  </ul>
	  
	  <div class="tab-content" ui-view>
	  </div>
	</div> -->

	<p>&nbsp;</p>
	

	<div class="panel panel-default message-widget" ng-controller="messageCtrl">
		<div class="panel-heading">
			<a href="#"><span>Message Widget</span></a>
		</div>
		<div class="panel panel-default panel-nested">
			<div class="panel-body message-container" id="msgContainer">
				<div class="spinner" ng-show="loading"></div><!-- ng-show="loading" -->
				<div class="message-bubble" ng-repeat="x in msgList">
					<!-- <input type="checkbox" ng-model="x.done"> <span ng-bind="x.msgText"></span> -->
				    <message></message>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<p>Add a new message to the message board: </p>
			<form ng-submit="msgAdd()"> <!-- $Message.msgAdd() -->
			<div class="form-group">
			  <label for="msg">Name:</label>
			  <div class="row">
				<div class="col-md-8 col-xs-8">
					<input type="text" class="form-control" id="msg" onblur="keepFocus()" ng-model="msgInput" placeholder="Add New">
				</div>
				<div class="col-md-4">
					<!-- Send ng -->
					<input type="submit" class="btn btn-primary" value="Send">
					<button class="btn btn-default" ng-click="msgRetrieve()"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
					<!-- Remove ng -->
					<button class="btn btn-warning" ng-click="msgRemove()">Remove marked</button>
					<button class="btn btn-danger" ng-click="msgRemoveAll()">Remove all</button>
				</div>
			  </div>
			</div>
			</form>
		</div>
	</div>

	

	

	<% include templates/scripttemplate.ejs %>

	<!-- Vanilla JS extras -->
	<script>
		window.onload = function() {
		  keepFocus();
		}

		function keepFocus() {
		  document.getElementById("msg").focus();
		}

	</script>

	<!-- Angular scripts -->

	<% include templates/ngmodules.ejs %>

	<!-- Controllers -->
	<script src="public/js/dashboard/dashboardController.js"></script>
	<script src="public/js/dashboard/messages/messageController.js"></script>

	<!-- Directives -->
	<script src="public/js/dashboard/messages/messageDirective.js"></script>

	<!-- Services -->
	<script src="public/js/dashboard/messages/messageService.js"></script>



	<script src="//localhost:35729/livereload.js"></script>

</body>
</html>