
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include templates/styletemplate.ejs %>

    <style>
    	.form-group .row{
    		padding-top: 3rem;
    	}

    </style>
 
<body ng-app="clusterGarage" ng-controller="registerCtrl">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<h2><span class="col-xs-1">#</span>
				<a href="#" class="col-xs-6">Register</a>
				<div class="col-xs-5"><hr></div>
				</h2>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<form ng-submit="register(user)">
						<div class="form-group">
						  <div class="row">
						  	<label for="msg" class="col-md-2 col-xs-1">First Name:</label>
							<div class="col-md-8 col-xs-8">
								<input type="text" class="form-control" id="firstName" ng-model="user.firstName" placeholder="Enter your first name">
							</div>
						  </div>
						  <div class="row">
						  	<label for="msg" class="col-md-2 col-xs-1">Last Name:</label>
							<div class="col-md-8 col-xs-8">
								<input type="text" class="form-control" ng-model="user.lastName" placeholder="Enter your last name">
							</div>
						  </div>
						  <div class="row">
						  	<label for="msg" class="col-md-2 col-xs-1">Email:</label>
							<div class="col-md-8 col-xs-8">
								<input type="text" class="form-control" ng-model="user.email" placeholder="Enter your email">
							</div>
						  </div>
						  <div class="row">
						  	<label for="msg" class="col-md-2 col-xs-1">Password:</label>
							<div class="col-md-8 col-xs-8">
								<input type="password" class="form-control" ng-model="user.pass" placeholder="Enter your password">
							</div>
						  </div>
						  <input type="submit" class="btn btn-primary" value="Send">
						</div>
					</form>	
				</div>
			</div>

			<div ng-show="registerOk" class="ng-hide"><a class="btn btn-info">Succesfully registered</a></div>
	
			<p><a href="/login" class="btn btn-default">Already have an account ?</a></p>
		</div>
	</div>

	<% include templates/scripttemplate.ejs %>

	<!-- Vanilla JS extras -->
	<script>
		window.onload = function() {
		  keepFocus();
		}

		function keepFocus() {
		  document.getElementById("firstName").focus();
		}

		/*window.addEventListener("keypress", function(event){
			if(event.keyCode === 13 && document.activeElement !== 'text') {
		        //e.preventDefault();
		        appendMessage();
		    }
		});*/
	</script>

	<!-- Angular scripts -->

	<% include templates/ngmodules.ejs %>

	<!-- Controllers -->
	<script src="public/js/register/registerController.js"></script>

	<!-- Services -->
	<script src="public/js/register/registerService.js"></script>


	<script src="//localhost:35729/livereload.js"></script>

</body>
</html>