<div class="modal-header">
    <h3 class="modal-title">Settings</h3>
</div>
<div class="modal-body">
	<div class="row">
		<ul class="nav nav-pills nav-stacked col-md-2">
		  <li class="active"><a data-toggle="pill" href="#profile">Profile</a></li>
		  <li><a data-toggle="pill" href="#account">Account</a></li>
		</ul>

		<div class="tab-content col-md-10">
		  <div id="profile" class="tab-pane fade in active">
		    <h3>General tab</h3>

		    <p>&nbsp;</p>
		    <form role="form">
			    <div class="form-group">
				  <label for="comment">Description:</label>
				  <textarea disabled class="form-control" rows="5" id="comment"></textarea>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>

	        <ul>
		        <li ng-repeat="item in items">
		            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
		        </li>
		    </ul>
		    <p>Selected: <b>{{ selected.item }}</b></p>
		  </div>
		  <div id="account" class="tab-pane fade">
		    <h3>Account Tab</h3>

		    <p>&nbsp;</p>
		    <h4>Change password</h4>
		    <form role="form">
			    <div class="form-group">
			      <label for="pwd">Current Password:</label>
    			  <input disabled type="password" class="form-control" id="pwd">
				  <label for="pwd">New Password:</label>
    			  <input disabled type="password" class="form-control" id="pwd">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		  </div>
		</div>
	</div> <!-- end-row -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>